@layer base, starlight, theme, components, utilities;
@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "DM Sans Variable";
  --font-mono: "DM Sans Variable";
  --color-accent-200: #9bdaad;
  --color-accent-600: #00572b;
  --color-accent-900: #003e1d;
  --color-accent-950: #002d13;
  --bg-accent-200: #9bdaad;
  --bg-accent-600: #00572b;
  --bg-accent-900: #003e1d;
  --bg-accent-950: #002d13;
  --color-gray-100: #f5f6f8;
  --color-gray-200: #eceef2;
  --color-gray-300: #c0c2c7;
  --color-gray-400: #888b96;
  --color-gray-500: #545861;
  --color-gray-700: #353841;
  --color-gray-800: #24272f;
  --color-gray-900: #17181c;
  --bg-gray-100: #f5f6f8;
  --bg-gray-200: #eceef2;
  --bg-gray-300: #c0c2c7;
  --bg-gray-400: #888b96;
  --bg-gray-500: #545861;
  --bg-gray-700: #353841;
  --bg-gray-800: #24272f;
  --bg-gray-900: #17181c;
}

a {
  appearance: none;
  text-decoration: none;
}

a:hover {
  appearance: none;
  text-decoration: none;
}

.level-h2 {
  padding-top: 2rem;
}

.nav-bar a::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.nav-bar a:hover::before {
  opacity: 0.1;
}